body {
    background-image: url('assets/background.png');
    font: normal 15px sans-serif;
    color: antiquewhite;
}
 /* unvisited link */
 a:link {
    color: #497272;
}

    /* visited link */
    a:visited {
      color: #55687f;
}

    /* mouse over link */
    a:hover {
      color: #a57f7f;
}

    /* selected link */
    a:active {
      color: #8fb2b2;
}
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    #user-greeting {
    margin-top: 30px;
    font-size: 21px;
    font-weight: bold;
}

    #current-time {
    font-size: 35px;
    font-weight: bold;
}

